In [40]:
import pandas as pd

from sklearn.datasets import load_breast_cancer, make_classification
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge

# from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler

from sklearn.metrics import f1_score, fbeta_score, classification_report
from sklearn.metrics import root_mean_squared_error

In [24]:
df = pd.read_csv('realty_data.csv')
df.head()

,product_name,period,price,postcode,address_name,lat,lon,object_type,total_square,rooms,floor,city,settlement,district,area,description,source
0,"3-комнатная, 137 м²",NaN,63000000,127473.0,"2-й Щемиловский переулок, 5а",55.778894,37.608844,Квартира,137.0,3.0,6.0,Москва,NaN,Тверской район,NaN,Просторная квартира свободной планировки с пан...,ЦИАН
1,"Студия, 16,7 м²",NaN,3250000,108815.0,"Харлампиева, 46",55.551025,37.313054,Квартира,16.7,NaN,1.0,Москва,NaN,Филимонковское поселение,NaN,ВНИМАНИЕ! ОЧЕНЬ ПРИВЛЕКАТЕЛЬНОЕ ПРЕ...,Домклик
2,"3-комнатная, 76 м²",NaN,16004680,NaN,"ЖК Прокшино, 8 к4",55.594802,37.431264,Квартира,76.0,3.0,6.0,Москва,NaN,Сосенское поселение,NaN,"Apт.1684018. 0,01% - гибкая ипотека! Воспользу...",Яндекс.Недвижимость
3,"1-комнатная, 24 м²",NaN,7841776,NaN,"ЖК Прокшино, 6 к2",55.594332,37.428099,Квартира,24.0,1.0,10.0,Москва,NaN,Сосенское поселение,NaN,Продается однокомнатная квартира № 381 в новос...,Новострой-М
4,"3-комнатная, 126 м²",NaN,120000000,121352.0,"Давыдковская, 18",55.721097,37.464342,Квартира,126.0,3.0,16.0,Москва,NaN,Фили-Давыдково район,NaN,Шикарное предложение!\nПродаётся трёхкомнатная...,Домклик

In [25]:
columns = ['product_name', 'period', 'postcode', 'address_name', 'lat', 'lon', 'object_type', 'city', 'settlement', 'district', 'area', 'description', 'source']
df = df.drop(columns = columns)

In [26]:
df.head()

       price  total_square  rooms  floor
0   63000000         137.0    3.0    6.0
1    3250000          16.7    NaN    1.0
2   16004680          76.0    3.0    6.0
3    7841776          24.0    1.0   10.0
4  120000000         126.0    3.0   16.0

In [27]:
df['rooms'] = df['rooms'].fillna(value=1)
df.head()

       price  total_square  rooms  floor
0   63000000         137.0    3.0    6.0
1    3250000          16.7    1.0    1.0
2   16004680          76.0    3.0    6.0
3    7841776          24.0    1.0   10.0
4  120000000         126.0    3.0   16.0

In [49]:
df = df.dropna()

In [66]:
X_train, X_test, y_train, y_test = train_test_split(
    df.drop(columns=['price', 'floor']),
    df['price'],
    random_state=2025,
    test_size=0.3
)

ridge = Ridge(alpha=1)
ridge.fit(X_train, y_train)
y_preds = ridge.predict(X_test)

In [67]:
import pickle

# Сохранение модели в файл
model_filename = "model.pkl"

with open(model_filename, 'wb') as file:
    pickle.dump(ridge, file)
print(f"Модель сохранена в файл: {model_filename}")

Модель сохранена в файл: model.pkl

In [68]:
# Загрузка модели 
with open('model.pkl', 'rb') as f:
    model = pickle.load(f)

In [76]:
new_data = pd.DataFrame({
    'total_square' : [40.0],
    'rooms' : [2.0]
})

In [77]:
predictions = model.predict(new_data)

print('Prediction', predictions)

Prediction [7664832.04469588]